@using GameStats.Web.Models.Responses
@using GameStats.Web.Services.Interfaces
@inject DialogService dialogService
@inject IGameService _gameService
@inject IMatchTypeService _matchTypeService

<RadzenTemplateForm TItem="MatchTypeModel" Data=@matchType Submit="OnSave" InvalidSubmit="OnSave">
    <RadzenFormField Text="Game">
        <RadzenDropDown @bind-Value="@matchType.GameId" Data=@games TextProperty="@nameof(GameModel.GameName)" ValueProperty="@nameof(GameModel.GameId)" Style="width: 100%; max-width: 400px;" />
    </RadzenFormField>
    <RadzenFormField Text="Match Type Name">
        <RadzenTextBox @bind-Value="@matchType.MatchTypeName" MaxLength="100"></RadzenTextBox>
    </RadzenFormField>
    <div class="flex-row justify-content-end" style="margin-top:10px;">
        <RadzenButton Text="Save" ButtonStyle="ButtonStyle.Success" ButtonType="ButtonType.Submit"></RadzenButton>
        <RadzenButton Text="Cancel" ButtonStyle="ButtonStyle.Danger" Click="OnCancel"></RadzenButton>
    </div>
</RadzenTemplateForm>

@code {
    [Parameter]
    public required MatchTypeModel matchType { get; set; }

    IEnumerable<GameModel> games = [];

    protected override async Task OnInitializedAsync()
    {
        matchType ??= new MatchTypeModel
        {
            MatchTypeId = 0
        };

        DataResponse<GameModel> response = await _gameService.GetGamesAsync(Constants.TakeAll, Constants.Offset);
        games = response.Data;
        await base.OnInitializedAsync();
    }

    private async Task OnSave()
    {
        if (matchType.MatchTypeId == 0)
        {
            await _matchTypeService.CreateMatchTypeAsync(matchType);
        }
        else
        {
            await _matchTypeService.UpdateMatchTypeAsync(matchType);
        }

        dialogService.Close(matchType);
    }

    private void OnCancel()
    {
        dialogService.Close(null);
    }
}
