@using GameStats.Web.Models.Responses
@using GameStats.Web.Services.Interfaces
@inject DialogService dialogService
@inject IGameService _gameService
@inject IPlayerService _playerService

<RadzenTemplateForm @ref=@playerDataForm TItem="PlayerModel" Data=@player Submit="OnSave" InvalidSubmit="OnSave">
    <RadzenFormField Text="Game">
        <RadzenDropDown @bind-Value="@player.GameId" Data=@games TextProperty="@nameof(GameModel.GameName)" ValueProperty="@nameof(GameModel.GameId)" Style="width: 100%; max-width: 400px;" />
    </RadzenFormField>
    <RadzenFormField Text="Player Name">
        <RadzenTextBox @bind-Value="@player.PlayerName" MaxLength="100"></RadzenTextBox>
    </RadzenFormField>
    <div class="flex-row justify-content-end" style="margin-top:10px;">
        <RadzenButton Text="Save" ButtonStyle="ButtonStyle.Success" ButtonType="ButtonType.Submit"></RadzenButton>
        <RadzenButton Text="Cancel" ButtonStyle="ButtonStyle.Danger" Click="OnCancel"></RadzenButton>
    </div>
</RadzenTemplateForm>

@code {
    [Parameter]
    public required PlayerModel player { get; set; }

    IEnumerable<GameModel> games = [];

    private RadzenTemplateForm<PlayerModel> playerDataForm;

    protected override async Task OnInitializedAsync()
    {
        player ??= new PlayerModel
        {
            PlayerId = 0
        };

        DataResponse<GameModel> response = await _gameService.GetGamesAsync(Constants.TakeAll, Constants.Offset);
        games = response.Data;
        await base.OnInitializedAsync();
    }

    private async Task OnSave()
    {
        if (player.PlayerId == 0)
        {
            await _playerService.CreatePlayerAsync(player);
        }
        else
        {
            await _playerService.UpdatePlayerAsync(player);
        }

        dialogService.Close(player);
    }

    private void OnCancel()
    {
        dialogService.Close(null);
    }
}
